
/*Main Style*/
* {
    font-family : "Source Sans Pro";
    transition : .3s;
}
#menu-check {
    display: none;
}
body {
    margin: 0;
    padding: 0;
}

#first-block {
    background-image: url('img/bg.png');
    height:1000px;
    width: 100%;
}
#empty {
    width:100%;
    height: 100%;
}
header {
    width:100%;
    height: 50px;
    line-height: 50px;
}
#logo {
    font-size:1.10em;
    float: left;
    margin-left: 5%;
}
nav {
    float:right;
    width:40%;
    padding: 0;
    margin-right: 2%;
}
nav ul {
    height: 50px;
}
nav>ul>li  {
    font-weight: bold;
    list-style-type: none;
    float:left;

    margin-left: 3%;

}
nav a {
    font-size:1.10em;
    text-decoration: none;
    color:black;
}
nav a:hover {
    color : lightblue;
}
#menu {
    font-size:1.53em;
    display: none;
}

#storyteller {
    text-align: right;
    float:right;
    margin-right:8%;
    margin-top:25%;
}
#storyteller>h1 {
    font-size: 4em;
    margin-bottom: 0;
}
#storyteller>hr {
    width:10.48%;
    height:10px ;
    float:right;
    background: #000;
    border:none;
}
#storyteller>p {
    clear: both;
    float:right;
    font-size: 18px;
    letter-spacing: 1px;
    width:40%;
    word-spacing: 10px;
    text-indent: -2em;
}

#storyteller>button {
    float:right;
    clear: both;
    width:20.96%;
    height:50px;
    background-color: rgba(0,0,0,0);
    border:2px solid #000;
    font-size:1.10em;
}

.a {
    width:100%;
    float:left;
    display: block;
}
.li {
    width:100%;
    margin:5px;
    padding-left:5px;
}
.ul {
    display: block;
    height:250px;
    background: rgba(0,0,0,.7);
}
/*------------------------------------*/
#second-block {
    width:100%;
    height:500px;
    background: #fff;
}
#second-block>img {
    margin-left: 48.1%;
    margin-top: 6%;
    margin-bottom: 4%;
}
#second-block>h1 {
    margin: 0 auto  ;
    text-align: center;
}
#second-block>p {
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 2;
    margin: 2% auto 0 auto;
    text-align: center;
    width: 70%;
    font-size: 1.1em;
}
/*---------------------------*/
#third-block {
    width: 100%;
    height:500px;
    background: #eee;
}
#third-block>section {
    width:85%;
    height:auto;
    margin: 5% auto 5% auto;
    padding:0;
}
#third-block>section>section {
    margin: 10% 0 0 3.3%;
    width: 30%;
    float: left;
}
#third-block>section>section>*{
    line-height: 1.5;
}
#third-block>section>section>p {
    width:85%;
    word-spacing: 9px;
}



























/*Media Queries */
@media screen and (min-width: 1024px){
    #menu {
        display: none;
    }
}
@media screen and (max-width: 769px) {
    nav a {
        color:aliceblue;
    }
    #menu-check:checked + ul {
        display: block;
        width: 100%;
        height:200px;
        background: rgba(0,0,0,.8);
        margin-top: 0.5%;
    }
    #second-block>img {
        margin-left: 47.1%;
    }
    #first-block {
        height: 700px;
        background-position: center;
    }
    #empty {
        background-color: rgba(0,0,0,.6);
    }
    nav>ul {
        display: none;
        
    }
    nav>ul:after {
        clear: both;
    }
    nav>ul>li {
        float: left;
        width:100%;
        margin: 1% 0 1% 0;
    }
    #storyteller {
        text-align: center;
        margin-left:auto;
        margin-right: auto;
        margin-top:30%;
        float:none;
        color:aliceblue;
    }
    #storyteller>p {
        text-align: center;
        margin: 0 auto;
        float:none;
        text-indent: 0;
        width:50%;
    }
    #storyteller>hr {
        float:none;
        margin:0 auto;
        width:50%;
        height:5px;
        background: aliceblue;
    }
    #storyteller>button {
        float:none;
        margin:0 auto;
        width:50%;
        border:2px solid aliceblue;
        color:aliceblue;
    }
    #logo {
        display: none;
    }
    nav {
        margin:0 auto;
        width:100%;
        height:65px;
        background: rgba(0,0,0,.8);

    }
    nav>ul>li{
        float: right;
        line-height:35px;
    }
    nav:before{
        margin-left: 4%;
        content:"Unicorn";
        font-size: 3em;
        color:aliceblue;
        line-height:50px;
        display: inline;
    }
    #menu {
        color:aliceblue;
        font-size : 3em;
        margin-right: 30px;
        display: inline;
        float: right;
    }

}
@media screen and (max-width: 426px) {
    #first-block {
        background-position:left;
    }
    nav:before {
        font-size : 2em;
    }
    #menu-check:checked + ul {

        margin-top: 2.3%;
    }
    #menu {
        font-size: 3em;
    }
    #storyteller {
        margin-top:60%;
        font-size:0.8em;
    }
    #storyteller>p {
        width: 75%;
        text-align: center;
        font-size:1.4em;
    }
    #second-block>img {
        margin-left: 45.1%;
    }
    #second-block h1 {
        font-size: 1.4em;
    }
    #second-block p {
        text-align: justify;
        font-size: 0.9em;
    }
    #second-block {
        height: 350px;
    }
    #third-block>section p {
        text-align: justify;
        font-size: 0.8em;
    }
    #third-block img {
        transform:scale(0.8);
    }
    #third-block h3 {
        font-size: 0.9em;
    }
}
@media screen and (max-width: 321px) {
    #first-block {
        background-position:left;
    }
    #storyteller {
        margin-top:70%;
        font-size:0.7em;
    }
    #storyteller>hr {
        margin-bottom:2%;
    }
    #storyteller>p {
        width: 75%;
        text-align: justify;
        font-size:1.3em;
    }
    #menu-check:checked + ul {
        margin-top: 2.6%;
    }

}
@media screen and (min-width: 1023px) {
    nav {
        float:right;
        width:30%;
        padding: 0;
        margin-right: 1%;
    }
}
@media screen and (min-width: 1300px){
    #second-block>img {
        margin-left: 48.6%;
    }
}
/*--------------*/